<!-- member-success.hbs -->
{{#partial "content"}}

    <h2>Success!</h2>
    <hr>
    <p>Your member has been added.</p>
    <p>Click the link below to view all the members you have added.</p>
    <br>
    <a href="/" class="btn btn-success index-btn">View Teams</a>
{{/partial}}

{{>layout.hbs}}
<!-- member-success.hbs -->