<!-- team-success.vtl -->
{{#partial "content"}}

    <h2>Success!</h2>
    <hr>
    <p>Your team has been created.</p>
    <p>Click the link below to view all the teams you have created.</p>
    <br>
    <a href="/" class="btn btn-success index-btn">View Teams</a>
{{/partial}}

{{>layout.hbs}}
<!-- team-success.vtl -->