{{#partial "content"}}

 <div class="emphasized well">
<p>Here is more detail about the team: {{team.name}} </p>

    {{#each teams}}
        <p>Team Name:</p>
        <p>{{description}}</p>

   <p>
       <a href="/teams/{{team.id}}/update">Edit this team</a>
       <a href="/teams/{{team.id}}/delete">DELETE this team (no undo)</a>
   </p>

</div>

{{/partial}}

{{> layout.hbs}}