{{#partial "content"}}

   {{#if editTeam}}

       <h1>Edit this team:</h1>

       <form action="/teams/update" method="post">
           <select name="editTeamId" id="editTeamId">
               {{#each teams }}
                   <option value="{{id}}">{{name}}</option>
               {{/each}}
           </select>
           <div class="form-control">
               <label for="newTeamName">Edit this team's name</label>
               <input id="newTeamName" name="newTeamName" type="text" placeholder="new team name">
            </div>

           <div class="form-control">
              <label for="description">Edit this team's description:</label>
              <input id="description" name="description" type="text" placeholder="description">
           </div>
           <button type="submit" class="btn btn-default">Edit team info!</button>
       </form>
   {{else}}

   <h1>Add a new Team!</h1>

   <form action="/teams/new" method="post">

       <div class="form-control">
          <label for="name">This team's name</label>
          <input id="name" name="name" type="text">
       </div>

       <div class="form-control">
         <label for="description">This team's description</label>
         <input id="description" name="description" type="text">
       </div>


   {{/if}}

       <button type="submit" class="btn btn-default">Add team!</button>

   </form>

{{/partial}}

{{> layout.hbs}}