{{#partial "content"}}
<div class="amazing">
    <h1>Welcome!</h1>

    <p>Start-up weekends are a great way to challenge yourself and learn more about the latest and greatest in the technology industries.</p>
    <p>It is a perfect time to make new friends and new connections.</p>

    <p>You can come and pitch your innovative ideas to an eager audience of industry leaders and representatives.</p>
    <p>Good luck and enjoy!</p>

 </div>
{{/partial}}

{{> layout.hbs}}